# Data Analysis in Python

## load data

### 2.1

In [1]:
import pandas

In [2]:
df = pandas.read_excel('s3://ia241-spring2022-zarazinski/house_price.xls')
df[:10]

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282
2,995,229900,3,2,single-family home,13504,1988,1456,76,947
3,996,359000,5,4,single-family home,10130,1997,2903,79,951
4,999,394000,3,2,single-family home,18295,2001,2616,73,709
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328
7,1003,134900,2,2,townhouse,2300,1994,920,56,328
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137

### 2.2

In [5]:
df['unit_price'] = df['price']/df['area']

In [6]:
df[:10]

,ID,price,bedroom,bathroom,house_type,lot_size,built_in,area,days,views,unit_price
0,993,229900,3,2,single-family home,10018,2002,1541,77,1357,149.188838
1,994,149900,4,2,single-family home,8712,1975,1810,5,1282,82.817680
2,995,229900,3,2,single-family home,13504,1988,1456,76,947,157.898352
3,996,359000,5,4,single-family home,10130,1997,2903,79,951,123.665174
4,999,394000,3,2,single-family home,18295,2001,2616,73,709,150.611621
5,1000,349900,3,2,single-family home,204732,1967,3850,42,366,90.883117
6,1002,148500,3,1,single-family home,9147,1959,1000,17,328,148.500000
7,1003,134900,2,2,townhouse,2300,1994,920,56,328,146.630435
8,1004,265000,3,3,single-family home,13939,1998,2705,12,362,97.966728
9,1005,149900,4,3,townhouse,2291,1999,1440,4,137,104.097222

### 2.2

In [10]:
df['house_type'].value_counts()

single-family home    36
townhouse              3
condo                  2
Name: house_type, dtype: int64

### 2.3

In [11]:
df.loc[df['bathroom']>2]['price'].mean()

383645.45454545453

In [15]:
print('avg price of houses that have more than 2 bathrooms is ${:n}'.format(df.loc[df['bathroom']>2]['price'].mean()))

avg price of houses that have more than 2 bathrooms is $383645

### 2.4

In [17]:
print('the mean unit price is ${:n}'.format(df['unit_price'].mean()))

the mean unit price is $167.459

In [20]:
print('the median unit price is ${:n}'.format(df['unit_price'].median()))

the median unit price is $130.134

### 2.5

In [24]:
df.groupby('house_type').mean()['unit_price']

house_type
condo                 113.666272
single-family home    173.472594
townhouse             131.162407
Name: unit_price, dtype: float64

### 2.6

In [23]:
from scipy import stats

In [25]:
result = stats.linregress(df['area'],df['price'])

In [26]:
print('slope is {:n}'.format(result.slope))

slope is 79.955

In [27]:
print('intercept is {:n}'.format(result.intercept))

intercept is 156255

In [30]:
print('p-value is {:n}'.format(result.pvalue))

p-value is 0.00134007

In [31]:
print('r square value is {:g}'.format(result.rvalue*result.rvalue))

r square value is 0.23439

### 2.7

In [32]:
print('the price of house with {}sqft is ${:,.2f}'.format(2000,2000*result.slope+result.intercept))

the price of house with 2000sqft is $316,164.68